/* Reseta as margens e o preenchimento de todos os elementos e define o modelo de caixa */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estiliza o corpo da página */
body {
  font-family: 'Arial', sans-serif; /* Define a fonte padrão */
  line-height: 1.6; /* Aumenta o espaçamento entre as linhas */
  color: #000000; /* Define a cor do texto como preto */
}

/* Estiliza o cabeçalho */
header {
  background-color: #0f0c57; /* Define a cor de fundo do cabeçalho */
  display: flex; /* Utiliza o modelo flexbox */
  justify-content: space-between; /* Distribui os itens nas extremidades */
  align-items: center; /* Alinha os itens verticalmente no centro */
  padding: 2px; /* Adiciona um pequeno preenchimento */
}

/* Estiliza o logo */
.logo {
  width: 50%; /* Define a largura do logo como 50% do seu contêiner */
  max-width: 150px; /* Limita a largura máxima do logo a 150px */
  height: auto; /* Mantém a proporção da imagem */
}

/* Estiliza o título principal */
.titulo {
  font-size: 2.5em; /* Define o tamanho da fonte como 2.5 vezes o tamanho padrão */
  font-weight: normal; /* Define o peso da fonte como normal */
  padding: 15px; /* Adiciona um preenchimento de 15px */
  position: relative; /* Permite usar propriedades como 'left' */
  color: #dda520; /* Define a cor do texto como dourado */
  padding-left: 10%; /* Adiciona 10% de preenchimento à esquerda */
  height: 140px; /* Define uma altura fixa para o título */
  left: 260px; /* Move o título para a direita */
  font-family: 'Courier New', Courier, monospace; /* Define a fonte como Courier */
}

/* Estiliza o título secundário */
.titulo2 {
  font-size: 2.5em; /* Define o tamanho da fonte */
  font-weight: normal; /* Define o peso da fonte como normal */
  padding: 15px; /* Adiciona um preenchimento */
  position: relative; /* Permite o uso de propriedades como 'right' */
  color: #dda520; /* Define a cor do texto como dourado */
  padding-left: 10%; /* Adiciona 10% de preenchimento à esquerda */
  height: 50px; /* Define uma altura fixa para o título */
  right: 430px; /* Move o título para a esquerda */
  font-family: 'Courier New', Courier, monospace; /* Define a fonte como Courier */
}

/* Estiliza o container, aplicando flexbox */
.container {
  display: flex; /* Utiliza o modelo flexbox */
  align-items: center; /* Alinha os itens verticalmente */
  justify-content: space-between; /* Distribui os itens igualmente */
}

/* Estiliza a seção de texto */
.texto {
  width: 50%; /* Define que o texto ocupa 50% da largura */
  text-align: justify; /* Alinha o texto de forma justificada */
  margin-left: 50px; /* Adiciona uma margem à esquerda de 50px */
}

/* Estiliza a imagem */
.imagem {
  width: 40%; /* Define a largura da imagem como 40% */
}

/* Estiliza a seção "sobre" */
.sobre {
  color: #dda520; /* Define a cor do texto como dourado */
}

/* Estiliza a seção de aviso */
.aviso {
  text-align: center; /* Centraliza o texto */
  padding-top: 35px; /* Adiciona um preenchimento superior de 35px */
  font-family: 'Courier New', Courier, monospace; /* Define a fonte como Courier */
  font-size: 30px; /* Define o tamanho da fonte */
}

/* Estiliza o conteúdo principal */
main {
  padding: 20px; /* Adiciona 20px de preenchimento */
  text-align: center; /* Centraliza o texto */
}

/* Estiliza a navegação */
nav ul {
  display: flex; /* Utiliza o modelo flexbox */
  justify-content: center; /* Centraliza os itens da lista */
  list-style-type: none; /* Remove os marcadores das listas */
}

/* Estiliza os itens da lista de navegação */
nav ul li {
  margin: 0 25px; /* Adiciona 25px de margem à esquerda e à direita de cada item */
}

/* Estiliza os links dentro da navegação */
nav ul li a {
  text-decoration: none; /* Remove o sublinhado */
  color: #333; /* Define a cor do link como cinza escuro */
  font-weight: bold; /* Define o peso da fonte como negrito */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Define a fonte */
  font-size: 125%; /* Aumenta o tamanho da fonte em 25% */
}

/* Estiliza o efeito de hover nos links da navegação */
nav ul li a:hover {
  color: #dda520; /* Muda a cor para dourado quando o link é hoverado */
}

/* Estiliza o rodapé */
footer {
  background: #0f0c57; /* Define o fundo do rodapé como uma cor escura */
  color: #dda520; /* Define a cor do texto como dourado */
  text-align: center; /* Centraliza o texto */
  padding: 15px; /* Adiciona 15px de preenchimento */
  position: fixed; /* Deixa o rodapé fixo na parte inferior da tela */
  bottom: 0; /* Posiciona o rodapé na parte inferior */
  width: 100%; /* Define a largura do rodapé para 100% da tela */
}

